/* Error: Undefined mixin.
 *    ,
 * 17 | /   @include on-tablet {
 * 18 | |     height: 390px;
 * 19 | |     margin-bottom: 208px;
 * 20 | \   }
 *    '
 *   src\styles\scss\blocks\lection.scss 17:3  root stylesheet */

body::before {
  font-family:
    'Source Code Pro', 'SF Mono', Monaco, Inconsolata, 'Fira Mono',
    'Droid Sans Mono', monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: Undefined mixin.\a    \2577 \a 17 \2502  \250c    @include on-tablet {\a 18 \2502  \2502      height: 390px;\a 19 \2502  \2502      margin-bottom: 208px;\a 20 \2502  \2514    }\a    \2575 \a   src\\styles\\scss\\blocks\\lection.scss 17:3  root stylesheet';
}
