$c-gray: #eee;
$main-text-dark: #0f0e08;
$main-text-light: #fff;
$secondary-text: #4e4e4e;
$additional-text: #687480;
$accent-primary: #1a5a4c;
$accent-secondary: #f14a27;
$tablet-width: 768px;
$desktop-width: 1280px;
$max-content-width: 1440px;
$animation-time: 0.3s;
