.icon {
  display: block;
  height: 24px;
  width: 24px;
  color: $main-text-dark;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @include effects;

  &:hover {
    color: $accent-secondary;
  }

  &--facebook {
    background-color: currentColor;
    -webkit-mask: url(/src/images/icons/facebook-icon.svg);
    mask: url(/src/images/icons/facebook-icon.svg);
  }

  &--instagram {
    background-color: currentColor;
    -webkit-mask: url(/src/images/icons/facebook-icon.svg);
    mask: url(/src/images/icons/instagram-icon.svg);
  }
}
