.nav {
  .nav__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);

    grid-auto-flow: column;
    justify-content: center;
  }

  .nav__item {
    @include effects;

    &:hover {
      color: $accent-secondary;
    }
  }
}
