.top-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-block: 10px;

  @include on-tablet {
    @include page-grid;

    padding-block: 15px;
  }

  &__logo {
    margin: 0 auto;
    height: 61px;
    width: 55px;

    @include on-tablet {
      grid-column: 4 / 6;
    }

    @include on-desktop {
      grid-column: 7 / 9;
    }
  }
}
