/* === reset + normalize hybrid (2025) === */
@layer reset {
  /* Base */
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
  }
  html {
    font-size: 16px;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
  }
  body {
    min-height: 100dvh;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  main {
    display: block;
  }

  /* Typography */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font: inherit;
  }
  p,
  figure,
  blockquote,
  dl,
  dd {
    margin: 0;
  }
  b,
  strong {
    font-weight: bolder;
  }
  i,
  em {
    font-style: italic;
  }
  small {
    font-size: 80%;
  }
  sub,
  sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }
  sub {
    bottom: -0.25em;
  }
  sup {
    top: -0.5em;
  }
  a {
    display: inline-block;
    color: inherit;
    background: transparent;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
  }
  a:focus-visible {
    outline: 2px solid currentColor;
    outline-offset: 2px;
  }
  ::selection {
    background: #bcdcff;
    color: #000;
  }

  /* Lists */
  ul,
  ol {
    padding: 0;
    list-style: none;
  }

  /* Media */
  img,
  picture,
  video,
  canvas,
  svg {
    display: block;
    max-width: 100%;
    height: auto;
  }

  /* Tables */
  table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
  }
  th,
  td {
    padding: 0;
  }

  /* Forms */
  button,
  input,
  select,
  textarea {
    font: inherit;
    color: inherit;
    margin: 0;
    padding: 0;
    border: 0;
    background: transparent;
  }
  button,
  [role='button'] {
    cursor: pointer;
  }
  :disabled {
    cursor: not-allowed;
  }
  textarea {
    resize: vertical;
  }
  textarea::placeholder,
  input::placeholder {
    opacity: 0.6;
  }
  input,
  textarea,
  select {
    -webkit-appearance: none;
    appearance: none;
    border-radius: 0;
  }
  [type='number']::-webkit-inner-spin-button,
  [type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
  }
  [type='search']::-webkit-search-decoration {
    -webkit-appearance: none;
  }
  fieldset,
  legend {
    margin: 0;
    padding: 0;
    border: 0;
  }
  label {
    cursor: pointer;
  }
  *:focus-visible {
    outline: transparent;
  }

  /* Autofill fixes */
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 1000px transparent inset;
    -webkit-text-fill-color: currentColor;
    transition: background-color 5000s ease-in-out 0s;
  }

  /* Misc */
  hr {
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.12);
  }
  [hidden],
  template {
    display: none;
  }
  details {
    display: block;
  }
  summary {
    cursor: pointer;
    list-style: none;
  }
  summary::-webkit-details-marker {
    display: none;
  }
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    white-space: nowrap;
    border: 0;
  }
}

h1 {
  font-family: Roboto, sans-serif;
  font-weight: 400;
}

@media (min-width: 768px) {
  h1 {
    text-align: left;
    line-height: 120%;
  }
}

.title {
  font-family: Montserrat, sans-serif;
  font-size: 36px;
  font-weight: 700;
  text-align: center;
}

@media (min-width: 768px) {
  .title {
    text-align: left;
    font-size: 48px;
    margin-bottom: 43px;
  }
}

@media (min-width: 1280px) {
  .title {
    margin-bottom: 56px;
  }
}

@font-face {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  src: url('../../fonts/Roboto-Regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@media (min-width: 768px) {
  h1 {
    text-align: left;
    line-height: 120%;
  }
}

@media (min-width: 768px) {
  .title {
    text-align: left;
    font-size: 48px;
    margin-bottom: 43px;
  }
}

@media (min-width: 1280px) {
  .title {
    margin-bottom: 56px;
  }
}

body {
  background: #eee;
}

.page {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  scroll-behavior: smooth;
}

.page--no-scroll {
  overflow: hidden;
}

.page__body::after {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: -1;
  display: none;
}

.page__body--is-under-menu::after {
  z-index: 999;
  display: block;
}

.page__menu {
  position: fixed;
  z-index: 1000;
  top: 0;
  right: 0;
  left: 0;
  transform: translateY(-100%);
}

.page__menu--is-open {
  transform: translateY(0);
  transition: transform 0.3s ease-in-out;
}

.header {
  position: relative;
}

.header__top-bar {
  margin-bottom: 239px;
}

@media (min-width: 768px) {
  .header__top-bar {
    margin-bottom: 30px;
  }
}

@media (min-width: 1280px) {
  .header__top-bar {
    margin-bottom: 104px;
  }
}

.header__content {
  display: grid;
  column-gap: 20px;

  --columns: 2;

  grid-template-columns: repeat(var(--columns), 1fr);
}

@media (min-width: 768px) {
  .header__content {
    --columns: 6;

    column-gap: 30px;
  }
}

@media (min-width: 1280px) {
  .header__content {
    --columns: 12;
  }
}

@media (min-width: 768px) {
  .header__content {
    margin-bottom: 107px;
  }
}

@media (min-width: 1280px) {
  .header__content {
    padding-bottom: 118px;
    margin-bottom: 200px;
  }
}

.header__title {
  text-transform: uppercase;
  grid-column: 1/-1;
  font-size: 45px;
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .header__title {
    grid-column: 1/4;
    font-size: 53px;
    margin-bottom: 38px;
  }
}

@media (min-width: 1280px) {
  .header__title {
    grid-column: 1/6;
    font-size: 72px;
    margin-bottom: 89px;
  }
}

.header__button {
  grid-column: 1/-1;
  border: 1px solid #1a5a4c;
}

.header__button::after {
  background-color: #1a5a4c;
}

@media (min-width: 768px) {
  .header__button {
    grid-column: 1/4;
  }
}

@media (min-width: 1280px) {
  .header__button {
    grid-column: 3/6;
  }
}

.header__events {
  display: none;
  transform: rotate(-90deg);
  position: absolute;
  bottom: 0;
  left: 0;
  color: #687480;
}

.header__events::before {
  content: '';
  display: inline-block;
  width: 70px;
  height: 1px;
  background-color: #1a5a4c;
  margin: 0 auto;
}

@media (min-width: 1280px) {
  .header__events {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }
}

.header__bg {
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  height: 300px;
  background-image: url('/src/images/header-img/header-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  transform: scaleX(-1);
  background-position: center;
}

@media (min-width: 768px) {
  .header__bg {
    width: 50%;
    height: 384px;
  }
}

@media (min-width: 1280px) {
  .header__bg {
    height: 655px;
  }
}

.top-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-block: 10px;
}

@media (min-width: 768px) {
  .top-bar {
    display: grid;
    column-gap: 20px;

    --columns: 2;

    grid-template-columns: repeat(var(--columns), 1fr);
    padding-block: 15px;
  }
}

@media (min-width: 768px) and (min-width: 768px) {
  .top-bar {
    --columns: 6;

    column-gap: 30px;
  }
}

@media (min-width: 768px) and (min-width: 1280px) {
  .top-bar {
    --columns: 12;
  }
}

.top-bar__logo {
  margin: 0 auto;
  height: 61px;
  width: 55px;
}

@media (min-width: 768px) {
  .top-bar__logo {
    grid-column: 4/6;
  }
}

@media (min-width: 1280px) {
  .top-bar__logo {
    grid-column: 7/9;
  }
}

.button {
  position: relative;
  color: #0f0e08;
  line-height: 100%;
  height: 50px;
  border-right: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  transition: all 0.3s ease-in;
}

.button span {
  margin: 0 auto;
}

@media (min-width: 768px) {
  .button {
    height: 70px;
  }
}

.button::after {
  content: '';
  display: inline-block;
  width: 50px;
  height: 100%;
  background-image: url('/src/images/icons/button-arrow.svg');
  background-repeat: no-repeat;
  background-size: 24px 24px;
  background-position: center;
}

@media (min-width: 768px) {
  .button::after {
    width: 70px;
  }
}

.button:hover {
  background-color: #1a5a4c;
  color: #fff;
}

.button-menu {
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  position: relative;
  height: 24px;
  width: 24px;
}

.button-menu span {
  transition: all 0.3s ease-in;
  position: absolute;
  left: 3px;
  right: 3px;
  width: 18px;
  height: 2px;
  background-color: #0f0e08;
}

.button-menu span:nth-child(1) {
  top: 6px;
}

.button-menu span:nth-child(2) {
  top: 11px;
}

.button-menu span:nth-child(3) {
  top: 16px;
}

.button-menu--is-active span:nth-child(1) {
  transform: rotate(45deg);
  left: 3px;
  top: 11px;
  background-color: #fff;
}

.button-menu--is-active span:nth-child(2) {
  display: none;
}

.button-menu--is-active span:nth-child(3) {
  transform: rotate(-45deg);
  left: 3px;
  top: 11px;
  background-color: #fff;
}

.button-menu:hover span {
  background-color: #f14a27;
}

.button-menu:hover span:nth-child(1) {
  transform: translateX(-2px);
}

.button-menu:hover span:nth-child(2) {
  transform: translateX(2px);
}

.button-menu:hover span:nth-child(3) {
  transform: translateX(-2px);
}

.button-menu--is-active:hover span:nth-child(1) {
  transform: rotate(45deg) scale(1.2);
}

.container {
  padding-inline: 20px;
}

@media (min-width: 768px) {
  .container {
    padding-inline: 39px;
  }
}

@media (min-width: 1280px) {
  .container {
    padding-inline: 55px;
    margin: 0 auto;
    max-width: 1440px;
  }
}

.menu {
  font-weight: 400;
  color: #fff;
  background-color: #1a5a4c;
}

.menu__wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

@media (min-width: 768px) {
  .menu__wrapper {
    flex-direction: row;
    gap: 38px;
  }
}

@media (min-width: 1280px) {
  .menu__wrapper {
    gap: 102px;
  }
}

.menu__top-bar {
  position: relative;
  align-items: flex-start;
  justify-content: space-between;
  gap: 28px;
  padding-top: 27px;
  padding-bottom: 24px;
}

@media (min-width: 768px) {
  .menu__top-bar {
    padding-top: 40px;
    display: flex;
  }
}

@media (min-width: 1280px) {
  .menu__top-bar {
    gap: 102px;
  }
}

.menu__top-bar::after {
  position: absolute;
  content: '';
  display: inline-block;
  width: 100%;
  height: 1px;
  background-color: #fff;
  bottom: 0;
}

@media (min-width: 768px) {
  .menu__top-bar::after {
    width: 1px;
    height: 145px;
    top: 40px;
    right: 0;
  }
}

.menu__top-bar .nav__list {
  gap: 24px 28px;
}

@media (min-width: 768px) {
  .menu__top-bar .nav__list {
    margin-right: 36px;
  }
}

@media (min-width: 1280px) {
  .menu__top-bar .nav__list {
    margin-right: 102px;
  }
}

.menu__top-bar .nav__link {
  font-size: 16px;
  font-weight: 500;
}

.menu__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
  padding-bottom: 27px;
}

@media (min-width: 768px) {
  .menu__content {
    padding-block: 40px;
    max-width: 340px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 26px;
  }
}

@media (min-width: 768px) {
  .menu__content {
    min-width: 370px;
  }
}

.menu__accent {
  font-weight: 600;
}

.nav .nav__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  grid-auto-flow: column;
  justify-content: center;
}

.nav .nav__item {
  transition: all 0.3s ease-in;
}

.nav .nav__item:hover {
  color: #f14a27;
}

.events__title {
  margin-bottom: 40px;
}

@media (min-width: 768px) {
  .events__title {
    margin-bottom: 43px;
  }
}

@media (min-width: 1280px) {
  .events__title {
    margin-bottom: 56px;
  }
}

.events__cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
  margin-bottom: 60px;
}

@media (min-width: 768px) {
  .events__cards {
    margin-bottom: 112px;
  }
}

@media (min-width: 1280px) {
  .events__cards {
    margin-bottom: 104px;
  }
}

.events__card {
  display: grid;
  column-gap: 20px;

  --columns: 2;

  grid-template-columns: repeat(var(--columns), 1fr);
}

@media (min-width: 768px) {
  .events__card {
    --columns: 6;

    column-gap: 30px;
  }
}

@media (min-width: 1280px) {
  .events__card {
    --columns: 12;
  }
}

@media (min-width: 768px) {
  .events__card {
    row-gap: 40px;
  }
}

.events__image {
  object-fit: cover;
  grid-column: 1/-1;
  width: 100%;
  height: 210px;
  transition: all 0.3s ease-in;
}

.events__image:hover {
  transform: scale(1.02);
}

@media (min-width: 768px) {
  .events__image {
    height: 420px;
  }
}

@media (min-width: 1280px) {
  .events__image {
    height: 520px;
    grid-column: 1/8;
  }
}

.events__info {
  grid-column: 1/-1;
  display: flex;
  flex-direction: column;
}

@media (min-width: 1280px) {
  .events__info {
    grid-column: 9/-1;
    place-self: center center;
  }
}

.events__tech-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
  font-size: 16px;
}

@media (min-width: 768px) {
  .events__tech-info {
    justify-content: flex-start;
    gap: 27px;
    margin-bottom: 32px;
  }
}

@media (min-width: 1280px) {
  .events__tech-info {
    margin-bottom: 30;
  }
}

.events__type {
  font-weight: 500;
  color: #687480;
  line-height: 100%;
}

@media (min-width: 768px) {
  .events__type {
    font-size: 14px;
  }
}

.events__date {
  color: #1a5a4c;
  font-weight: 700;
  line-height: 150%;
}

.events__name {
  font-family: Montserrat, sans-serif;
  position: relative;
  font-size: 28px;
  font-weight: 400;
  line-height: 100%;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}

@media (min-width: 768px) {
  .events__name {
    margin-bottom: 15px;
    font-size: 36px;
    gap: 24px;
  }
}

.events__name::after {
  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #f14a27;
}

.events__description {
  font-size: 16px;
  font-weight: 300;
  line-height: 150%;
}

.lection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-image: url('/src/images/pictures/img-3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  position: relative;
  width: 100%;
  height: 210px;
  margin-bottom: 183px;
}

@media (min-width: 768px) {
  .lection {
    height: 390px;
    margin-bottom: 208px;
  }
}

@media (min-width: 1280px) {
  .lection {
    height: 550px;
    margin-bottom: 302px;
  }
}

.lection__info {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 280px;
  position: absolute;
  align-items: center;
  top: 153px;
  left: 0;
  right: 0;
  background-color: #fff;
  gap: 24px;
  padding-block: 20px;
  box-shadow: 0 2px 0 0 rgba(26, 90, 76, 0.25);
}

@media (min-width: 768px) {
  .lection__info {
    align-items: flex-start;
    max-width: 570px;
    padding: 45px 55px 50px;
    top: 306px;
    gap: 16px;
  }
}

@media (min-width: 1280px) {
  .lection__info {
    grid-column: 1/-1;
    top: 448px;
  }
}

.lection__tech-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  gap: 27px;
  font-size: 16px;
  margin: 0;
}

@media (min-width: 768px) {
  .lection__tech-info {
    gap: 186px;
  }
}

@media (min-width: 1280px) {
  .lection__tech-info {
    gap: 130px;
  }
}

.lection__type {
  font-weight: 500;
  color: #687480;
  line-height: 100%;
}

@media (min-width: 768px) {
  .lection__type {
    font-size: 14px;
  }
}

.lection__date {
  color: #1a5a4c;
  font-weight: 700;
  line-height: 150%;
}

.lection__name {
  font-family: Montserrat, sans-serif;
  position: relative;
  font-size: 28px;
  font-weight: 400;
  line-height: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 0;
  text-align: center;
}

@media (min-width: 768px) {
  .lection__name {
    margin-bottom: 15px;
    font-size: 36px;
    gap: 24px;
    text-align: left;
  }
}

.gallery__slider {
  margin-bottom: 100px;
}

@media (min-width: 1280px) {
  .gallery__slider {
    margin-bottom: 200px;
  }
}

.slider__track {
  gap: 20px;
  margin-bottom: 20px;
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
}

.slider__track::-webkit-scrollbar {
  display: none;
}

@media (min-width: 768px) {
  .slider__track {
    margin-bottom: 32px;
  }
}

@media (min-width: 1280px) {
  .slider__track {
    display: grid;
    column-gap: 20px;

    --columns: 2;

    grid-template-columns: repeat(var(--columns), 1fr);
  }
}

@media (min-width: 1280px) and (min-width: 768px) {
  .slider__track {
    --columns: 6;

    column-gap: 30px;
  }
}

@media (min-width: 1280px) and (min-width: 1280px) {
  .slider__track {
    --columns: 12;
  }
}

.slider__slide {
  flex: 0 0 100%;
  scroll-snap-align: center;
  text-align: center;
  height: 410px;
  transition: all 0.3s ease-in;
}

.slider__slide:hover {
  transform: scale(1.02);
}

@media (min-width: 768px) {
  .slider__slide {
    flex: 0 0 50%;
    height: 543px;
  }
}

@media (min-width: 1280px) {
  .slider__slide {
    height: 600px;
  }
  .slider__slide--width--small {
    grid-column: span 4;
  }
  .slider__slide--width--big {
    grid-column: span 8;
  }
  .slider__slide--height--small {
    height: 360px;
  }
}

.slider__image {
  display: block;
  object-fit: cover;
  object-position: top;
  width: 100%;
  height: 100%;
}

.slider__dots {
  display: flex;
  justify-content: center;
  gap: 22px;
}

.slider__dots-button {
  width: 9px;
  height: 9px;
  border-radius: 50%;
  border: none;
  background-color: #e0e0e0;
}

.slider__dots-button--active {
  background-color: #1a5a4c;
}

.slider-lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.85);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  display: none;
}

.slider-lightbox__img {
  max-width: 90%;
  max-height: 90%;
  object-fit: contain;
  border-radius: 8px;
}

.slider-lightbox__button {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 20px;
  right: 20px;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  min-width: 24px;
}

/* stylelint-disable-next-line no-descending-specificity */
.slider-lightbox__button span:nth-child(2) {
  left: 3px;
  top: 11px;
  transform: rotate(-45deg);
}

.slider-lightbox__button:hover .button-close span:nth-child(1) {
  transform: rotate(45deg) scale(1.2);
}

.slider-lightbox__button:hover .button-close span:nth-child(2) {
  transform: rotate(-45deg) scale(1.2);
}

.slider-lightbox--active {
  display: flex;
}

.subscribe {
  background-image: url('/src/images/pictures/img-4.jpg');
  color: #fff;
}

.subscribe__wrapper {
  padding-block: 82px;
  display: grid;
  column-gap: 20px;

  --columns: 2;

  grid-template-columns: repeat(var(--columns), 1fr);
}

@media (min-width: 768px) {
  .subscribe__wrapper {
    --columns: 6;

    column-gap: 30px;
  }
}

@media (min-width: 1280px) {
  .subscribe__wrapper {
    --columns: 12;
  }
}

.subscribe__title {
  grid-column: 1/-1;
  text-align: center;
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .subscribe__title {
    grid-column: 2/-2;
    margin-bottom: 16px;
  }
}

@media (min-width: 1280px) {
  .subscribe__title {
    grid-column: 4/10;
  }
}

.subscribe__text {
  grid-column: 1/-1;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  margin-bottom: 50px;
}

@media (min-width: 768px) {
  .subscribe__text {
    grid-column: 2/-2;
    margin-bottom: 64px;
  }
}

@media (min-width: 1280px) {
  .subscribe__text {
    grid-column: 4/10;
    margin-bottom: 72px;
  }
}

.subscribe__form {
  width: 100%;
  grid-column: 1/-1;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .subscribe__form {
    grid-column: 2/-2;
  }
}

@media (min-width: 1280px) {
  .subscribe__form {
    grid-column: 4/10;
  }
}

.subscribe__label {
  display: flex;
  justify-content: space-between;
  height: 50px;
}

@media (min-width: 768px) {
  .subscribe__label {
    height: 70px;
    gap: 18px;
  }
}

@media (min-width: 1280px) {
  .subscribe__label {
    gap: 30px;
  }
}

.subscribe__button {
  flex-shrink: 0;
  display: block;
  content: '';
  width: 50px;
  height: 100%;
  background-color: #f14a27;
  background-image: url(/src/images/icons/button-arrow.svg);
  background-repeat: no-repeat;
  background-size: 24px 24px;
  background-position: center;
  transition: all 0.3s ease-in;
}

.subscribe__button:hover {
  background-size: 48px 48px;
}

@media (min-width: 768px) {
  .subscribe__button {
    width: 70px;
  }
}

.subscribe__email {
  border: 0;
  font-family: Montserrat, sans-serif;
  padding: 18px 32px;
  width: 100%;
  color: #0f0e08;
  font-size: 14px;
  background-color: #fff;
  transition: all 0.3s ease-in;
}

@media (min-width: 768px) {
  .subscribe__email {
    padding-inline: 24px;
  }
}

@media (min-width: 1280px) {
  .subscribe__email {
    padding-inline: 32px;
  }
}

.subscribe__email::placeholder {
  color: #687480;
}

.subscribe__email:hover {
  border: 1px solid #f14a27;
  border-right: none;
}

@media (min-width: 768px) {
  .subscribe__email:hover {
    border-right: 1px solid #f14a27;
  }
}

.subscribe__email:focus {
  border-width: 2px;
}

.footer__wrapper {
  padding-block: 50px;
  display: grid;
  column-gap: 20px;

  --columns: 2;

  grid-template-columns: repeat(var(--columns), 1fr);
}

@media (min-width: 768px) {
  .footer__wrapper {
    --columns: 6;

    column-gap: 30px;
  }
}

@media (min-width: 1280px) {
  .footer__wrapper {
    --columns: 12;
  }
}

.footer__accent {
  font-weight: 600;
}

.footer__top {
  grid-column: 1/-1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

@media (min-width: 768px) {
  .footer__top {
    flex-direction: column;
    justify-content: flex-start;
    gap: 62px;
    grid-column: span 1;
    margin-bottom: 0;
  }
}

.footer__socials {
  display: flex;
  gap: 20px;
}

.footer__info {
  grid-column: 1/2;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  gap: 20px;
}

@media (min-width: 768px) {
  .footer__info {
    grid-column: 2/4;
    margin-bottom: 64px;
  }
}

@media (min-width: 1280px) {
  .footer__info {
    grid-column: 3/5;
    margin-bottom: 87px;
  }
}

.footer__contacts {
  display: flex;
  flex-direction: column;
  gap: 20px;
  grid-column: 2/3;
}

@media (min-width: 768px) {
  .footer__contacts {
    grid-column: 4/-2;
  }
}

@media (min-width: 1280px) {
  .footer__contacts {
    grid-column: 5/7;
  }
}

.footer__contacts a {
  transition: all 0.3s ease-in;
}

.footer__contacts a:hover {
  color: #f14a27;
}

.footer__button-to-top {
  place-self: flex-end flex-end;
  grid-column: 2/3;
  padding: 17px;
  width: 50px;
  height: 50px;
  border: 1px solid #1a5a4c;
  border-radius: 50%;
  background-image: url(/src/images/icons/arrow-up.svg);
  background-repeat: no-repeat;
  background-position: center;
}

@media (min-width: 768px) {
  .footer__button-to-top {
    display: none;
  }
}

.footer__line {
  grid-column: 1/-1;
  display: block;
  background-color: #1a5a4c;
  height: 1px;
  width: 100%;
  margin-bottom: 40px;
}

@media (min-width: 768px) {
  .footer__line {
    grid-column: 2/-2;
    margin-bottom: 64px;
  }
}

@media (min-width: 1280px) {
  .footer__line {
    justify-self: center;
    height: 260px;
    width: 1px;
    grid-column: 7/8;
  }
}

.footer__nav {
  grid-column: 1/-1;
  margin-bottom: 80px;
}

@media (min-width: 768px) {
  .footer__nav {
    grid-column: 2/-2;
  }
}

@media (min-width: 1280px) {
  .footer__nav {
    grid-column: 8/-2;
  }
}

.footer__nav .nav__list {
  gap: 20px;
}

@media (min-width: 768px) {
  .footer__nav .nav__list {
    column-gap: 30px;
  }
}

@media (min-width: 1280px) {
  .footer__nav .nav__list {
    column-gap: 32px;
  }
}

.footer__designed-info {
  grid-column: 1/-1;
  font-size: 12px;
  text-align: center;
  color: #687480;
}

@media (min-width: 768px) {
  .footer__designed-info {
    display: flex;
    justify-content: space-between;
  }
}

.icon {
  display: block;
  height: 24px;
  width: 24px;
  color: #0f0e08;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: all 0.3s ease-in;
}

.icon:hover {
  color: #f14a27;
}

.icon--facebook {
  background-color: currentColor;
  -webkit-mask: url(/src/images/icons/facebook-icon.svg);
  mask: url(/src/images/icons/facebook-icon.svg);
}

.icon--instagram {
  background-color: currentColor;
  -webkit-mask: url(/src/images/icons/facebook-icon.svg);
  mask: url(/src/images/icons/instagram-icon.svg);
}
